doctype
html
	head
		link(href="/favicon.ico",rel="shortcut icon", type="image/x-icon ")
		link(rel="stylesheet", href="/css/bootstrap.css")
		link(rel="stylesheet", href="/vendor/AngularJS-Toaster/toaster.css")
		link(rel="stylesheet", href="/css/site.css")
		base(href="/")
	body(ng-app='app')
		block main-content
		include scripts 
